body{ 
	background-color: #24248f;
}

.nomeFormulario{ 
	font-family: calibri;
	font-size: 25pt;
	text-align: center;
	text-decoration: underline; /* cia uma linha em baixo do texto */
	color: white;
}

.content{ 
	margin: 5% 30%;
	background-color: white;
}

form{ 
	  font-family: Calibri; 
}

.textoInput{ 
	margin: 0px 10px 0 10px;
}